
$colorWhite: #FFFFFF;
$colorGreyDark: #EEEFF1;
$colorGreyLight: #F8F9FE;
$colorBlackLight: #707070;
$colorPurpleDim: #485277;

$fontYesevaOne: "Yeseva One", serif;
$fontMontSerrat: "MontSerrat", sans-serif;

$fontPrimary: $fontMontSerrat;
$fontSecondary: $fontYesevaOne;

$textColor: $colorBlackLight;
